<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="barcelona" class="pe.isil.team.Barcelona" />
    <bean name="juventus" class="pe.isil.team.Juventus" />
    <bean name="manchester" class="pe.isil.team.Manchester" />

    <bean name="messi" class="pe.isil.player.MessiDI" >

        <!--inyeccion de dependencia por constructor-->
        <constructor-arg name="team" ref="juventus" />

        <!--inyeccion de dependencia por setter-->
<!--        <property name="team" ref="barcelona" />-->

    </bean>



</beans>